* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.contenedor {
  overflow-x: hidden;
  width: 100%;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  font-family: sans-serif;
}

.header {
  padding: 10px;
  background: linear-gradient(to top, #e6e9ed, #1d1d72);
  width: 100%;
  padding: 10px 0;
}
.header .header__titulo {
  text-align: center;
  color: #c0b9ac;
  font-family: "Farsan";
  padding: 10px;
  text-align: center;
}

.header__nav {
  width: 90%;
  height: 90px;
  background-color: rgba(192, 185, 172, 0.4666666667);
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.header__nav .header__logo img {
  max-width: 100%;
  height: 90px;
}
.header__nav .header__logo:hover {
  transform: scale(1.2, 1.2);
}

.header__menu {
  color: #000000;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.header__menu li {
  margin: 10px;
  display: inline-block;
}
.header__menu .header__link {
  background-color: rgba(0, 0, 0, 0.2470588235);
  color: #c0b9ac;
  border: none;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.header__menu .header__link:hover {
  background-color: hsl(0, 0%, -10%);
}

.btn-flotante {
  border-radius: 5px;
  padding: 18px 30px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}
.btn-flotante .img-wsp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.navbar {
  width: 100%;
  padding: 0;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50em;
  margin: 0 auto;
}
.video-container video {
  width: 100%;
  height: 100%;
  transition: all 1.1s;
}
.video-container video:hover {
  transform: scale(1.1);
}

.nav-autos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}
.card-container .cardauts .img-auts {
  height: 70%;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid #c0b9ac;
}
.card-container .cardauts .img-auts .card-img-top {
  object-fit: cover;
  aspect-ratio: 16/9;
}
.card-container .card-body {
  padding: 15px;
  text-align: center;
}
.card-container .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007bff;
  color: #c0b9ac;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card-container .btn:hover {
  opacity: 0.7;
  background-color: #007bff;
}

.card {
  flex: 1 1 18rem;
  margin: 10px;
  max-width: 18rem;
  border-radius: 8px;
  background-color: #c0b9ac;
  box-shadow: 0 4px 15px #000000;
  transition: transform 0.2s;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px #000000;
}

footer .footer-icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.footer-icono a img {
  transition: all 0.3s ease;
}

.footer-icono a:hover img {
  opacity: 0.7;
}

.contacto {
  padding: 50px;
  margin-top: 50px;
  text-align: center;
}
.contacto .contacto-container {
  max-width: 600px;
  margin: 0 auto;
}
.contacto .contacto-container .h2-b {
  color: #dddad3;
  font-size: 2em;
  margin-bottom: 20px;
}
.contacto .contacto-container .p-2 {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 30px;
}
.contacto .contacto-container .formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacto .contacto-container .formulario-contacto .campo {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #666;
  margin-bottom: 5px;
  display: block;
}
.contacto .contacto-container .formulario-contacto .campo {
  padding: 10px;
  font-size: 1em;
  border: 1px solid rgba(172, 162, 162, 0);
  border-radius: 5px;
  resize: vertical;
}
.contacto .contacto-container .formulario-contacto .campo textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #dddad3;
  border-radius: 5px;
  resize: vertical;
}
.contacto .contacto-container .btn-submit {
  background-color: #45a049;
  color: #dddad3;
  border: none;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contacto .contacto-container .btn-submit:hover {
  background-color: hsl(0, 0%, -10%);
}

h1 {
  font-size: 2rem;
  animation-name: aparece;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: #000;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-autos {
  display: block;
  unicode-bidi: isolate;
}
.main-autos .section-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.main-autos .section-ofertas .section-ofertas section {
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 280px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1019607843);
  transition: transform 0.3s ease;
}
.main-autos .section-ofertas .section-ofertas section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1019607843);
}
.main-autos .section-ofertas .section-ofertas section .section-ofertas section,
.main-autos .section-ofertas .section-ofertas section .card1, .main-autos .section-ofertas .section-ofertas section .card2, .main-autos .section-ofertas .section-ofertas section .card3, .main-autos .section-ofertas .section-ofertas section .card4, .main-autos .section-ofertas .section-ofertas section .card5, .main-autos .section-ofertas .section-ofertas section .card6 {
  max-width: 100%;
}
.main-autos .section-ofertas .section-ofertas section .section-ofertas button {
  width: 100%;
}
.main-autos .section-ofertas .section-ofertas section section {
  text-align: center;
  padding: 10px;
}
.main-autos .section-ofertas .card1, .main-autos .section-ofertas .card2, .main-autos .section-ofertas .card3, .main-autos .section-ofertas .card4, .main-autos .section-ofertas .card5, .main-autos .section-ofertas .card6 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1019607843);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  text-align: center;
  margin: 0px;
  margin-top: 8px;
}
.main-autos .section-ofertas .card1 img, .main-autos .section-ofertas .card2 img, .main-autos .section-ofertas .card3 img, .main-autos .section-ofertas .card4 img, .main-autos .section-ofertas .card5 img, .main-autos .section-ofertas .card6 img {
  width: 100%;
  height: auto;
}

aside {
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .Nav-autos .card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .header__nav {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .header__menu {
    display: block;
    text-align: center;
  }
  .card1, .card2, .card3, .card4, .card5, .card6 {
    margin-bottom: 15px;
  }
  .card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img {
    width: 100%;
  }
  .header__item {
    margin: 10px 0;
  }
  .header__link {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .section-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  .img-auts {
    width: 100%;
    height: auto;
  }
  .card-body {
    padding: 10px;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  .footer-icono {
    flex-direction: column;
    text-align: center;
  }
  .footer-icono img {
    margin-bottom: 10px;
  }
  .btn-flotante {
    padding: 12px 20px;
    bottom: 10px;
    right: 10px;
  }
  .Nav-autos {
    display: block;
    justify-content: flex-start;
    width: 100%;
  }
  .card {
    margin: 10px auto;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .section-ofertas {
    flex-direction: column;
    align-items: center;
  }
  .section-ofertas section,
  .card1, .card2, .card3, .card4, .card5, .card6 {
    width: 100%;
    max-width: 350px;
  }
  .map-container {
    padding-bottom: 50%;
    max-width: 90%;
  }
}
@media (max-width: 1000px) {
  .header__nav {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .header__logo img {
    max-width: 30%;
    height: auto;
  }
  .main-autos .section-ofertas {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .header__menu {
    display: block;
    text-align: center;
  }
  .header__item {
    margin: 10px 0;
  }
  .header__link {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .card {
    width: 90%;
    margin: 10px auto;
  }
  .card-title {
    font-size: 1.1rem;
  }
  .card-img-top {
    width: 100%;
    height: auto;
  }
  .footer-icono {
    flex-direction: column;
    text-align: center;
  }
  .footer-icono img {
    margin-bottom: 10px;
  }
  .btn-flotante {
    padding: 15px 25px;
    bottom: 20px;
    right: 20px;
  }
  .Nav-autos {
    display: block;
    justify-content: flex-start;
    width: 100%;
  }
  .section h2 {
    font-size: 1.8rem;
  }
  .contacto {
    padding: 30px;
    margin-top: 40px;
  }
  .container {
    padding: 10px;
  }
}
h1, h2, h3, h4 {
  color: white;
  font-family: "Farsan";
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  text-align: center;
  padding: 10px;
  margin: 0px;
  margin-top: 8px;
}

p {
  color: wheat;
  font-size: large;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 186, 212, 0.3137254902);
  border: rgba(84, 186, 212, 0.3137254902) 2px solid;
  padding: 60px 0;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
}

label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
