h1{
    font-size: 2rem;
    animation-name: aparece;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes aparece {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
}