@use "inicio";
@use "nosotros";
@use "contacto";
@use "ubicacion";
@use "ofertas";
@use "querries";

h1, h2, h3, h4 {
    color: white;
    font-family: "Farsan";
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
section {
    text-align: center;
    padding: 10px;
    margin: 0px;
    margin-top: 8px;
}
p {
    color: wheat;
    font-size: large;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54bbd450;
    border: #216074 2px solid;
    padding: 60px 0;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}